@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .padding-x{
      @apply sm:px-[100px] px-4;
  }

  .selection{
    @apply transition duration-300 hover:bg-custom-green hover:scale-105 cursor-pointer;
  }

  .hover-scale{
    @apply hover:scale-105 transform transition duration-300;
  }

  .fill-button{
    @apply hover:bg-custom-green transition duration-300;
  }
}
@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .ellipse {
    border-radius: 50%;
  }
}

* {
  font-family: 'Space Grotesk';
}
html { scroll-behavior: smooth; }